body {
    background-image: url(bg.png);
    height: 100%;
    width: 100%;
    text-align: center;
}

p {
    position: absolute;
    left: 35px;
    top: 130px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.busch {
    position: absolute;
    top: -70px;
    left: -70px;
}

.geschenke {
    position: absolute;
    top: 290px;
    left: 380px;
    z-index: 3;
}

.stern1 {
    position: absolute;
    top: 90px;
    left: 170px;
}

.stern2 {
    position: absolute;
    left: 280px;
    top: 300px;
}

.feuer {
    position: absolute;
    top: 25px;
    left: 325px;
}